<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramadhanhadiatma.admob_advanced_native_recyvlerview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
